---
import Layout from "../layouts/Layout.astro";
import { paisesAcred } from "../data/accreditations.js";
import Button from "../components/Button.astro"
---

<Layout title="Inicio">
<style>
    .jci-article {
        position: relative;
        font-weight: 400;
        padding: 0px;
        min-height: 500px;
        background-color: #c6d4d5;

        .flex-adjust {
            z-index: 3;
            align-items: stretch;
            min-height: 536px;
            max-width: none;
            justify-content: center;
            gap: 0;

            .img-container {
                flex: 1 0 50%;
                position: relative;
                min-height: 400px;

                > div {
                    padding-left: 0;
                    display: flex;
                    text-align: center;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        object-fit: cover;
                        right: 0;
                        left: 0;
                        top: 90px;
                    }
                }

                h1 {
                    font-size: 26px;
                    margin: 20px 10px;
                    max-width: none;
                }
            }

            .text-container {
                font-size: 18px;
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 1 50%;
                padding: 30px;
                background-color: #ebebeb;
            }
        }
    }

    .accredit-article {
        background-color: #f4f5f5;

        .flex-adjust > div {
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                height: auto;
                order: 1;
            }
        }
    }

    .map-article {
        > * {
            max-width: var(--max-width-main);
        }

        .flex-adjust .counter-div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            #counter-num {
                font-weight: 500;
                border-radius: 50px;
                display: flex;
                text-align: center;
                color: black;
                font-size: 90px;
                background-color: var(--primary-color);
                width: 163px;
                height: 123px;
                outline: 10px solid var(--color-dark);
                box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.3);
                align-items: center;
                justify-content: center;
                padding-right: 10px;
            }

            p {
                max-width: 257px;
                margin-top: 30px;
            }
        }

    .toggle-input {
        display: none;
    }

        .country-label {
            display: block;
            cursor: pointer;
            padding: 12px;
            background: var(--primary-color);
            border: 1px solid var(--color-dark);
            font-weight: bold;
            margin-top: 8px;

            &:hover {
                background: var(--secondary-color);
                transition: background 0.3s;
            }
        }

        .center-list {
            max-height: 0;
            overflow: hidden;
            margin-left: 25px;
            padding: 0 15px;
            border-left: 2px solid #dee2e6;
            margin-bottom: 0 !important;
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            transition: max-height 0.5s ease-out;

            li {
                background-color: var(--primary-color);
                padding: 10px;
                border-radius: 8px;
                font-weight: 500;
                margin: 10px;
                margin-bottom: 8px;
                font-size: 0.95rem;
            }
        }

        .map-container {
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            margin-top: 30px;

            #map {
                height: 500px;
                width: 80%;
            }

            .leaflet-container {
                font-family: var(--primary-font);

                .map__hospLink {
                    background-color: var(--primary-color);
                    padding: 5px 10px;
                    color: black;
                    border-radius: 5px;
                    border: 1px solid grey;
                    justify-self: center;
                    display: flex;
                    width: 108px;
                    font-weight: 600;

                    &:hover {
                        background-color: #9bb3b6;
                        transition: background-color 0.5s ease;
                    }
                }
            }
        }
    }

    .currently-section {
        background-color: #3c3c3c;
        color: white;

        > * {
            max-width: 1200px;
        }

        > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 35px;
            column-gap: 20px;

            article {
                border-radius: 10px;
                padding: 20px;
                align-content: center;
                justify-content: center;
                text-align: center;
                position: relative;
                width: 340px;

                > div {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 120px;
                    height: 120px;
                    background-color: #2e6569;
                    z-index: 1;
                    border-radius: 50%;
                }

                p {
                    font-size: 20px;
                    z-index: 23;
                    position: relative;

                    strong {
                        color: #1ec3af;
                    }
                }
            }
        }
    }

    @media (min-width: 475px) {
        .map-article {
            #map {
                width: 100%;
            }

            ul li {
                padding: 5px;
                font-size: 14px;
                margin: 5px;
            }
        }

        .jci-article {
            .flex-adjust {
                max-width: 100%;

                .img-container {
                    > div {
                        padding-left: 53px;

                        h1 {
                            margin-left: -35px;
                            max-width: 280px;
                            text-align: left;
                        }

                        img {
                            right: 0;
                            left: 70px;
                            top: 40px;
                            overflow: visible;
                        }
                    }
                }

                .text-container {
                    flex-direction: column;

                    p {
                        min-width: 0;
                    }
                }
            }
        }

        .currently-section > div article {
            width: 270px;
        }
    }

    @media (min-width: 576px) {
        .jci-article .flex-adjust .img-container > div img {
            top: 40px;
        }
    }

    @media (min-width: 768px) {
        .jci-article .flex-adjust {
            flex-direction: column;

            .img-container {
                min-height: 400px;

                h1 {
                    max-width: 280px;
                }

                > div {
                    padding-left: 53px;

                    img {
                        left: 0;
                        top: 70px;
                        overflow: visible;
                    }
                }
            }
        }

        .accredit-article .flex-adjust > div {
            h2 {
                margin-bottom: 0;
            }

            img {
                order: 0;
            }
        }
    }

    @media (min-width: 992px) {
        .jci-article .flex-adjust {
            flex-direction: row;

            .img-container {
                flex: 1 1 70%;

                > div {
                    padding-left: 106px;

                    img {
                        left: 70px;
                        top: 25px;
                    }
                }
            }

            .text-container {
                padding: 30px;
                flex: 1 1 30%;
            }
        }
    }

    @media (min-width: 1200px) {
        .jci-article .flex-adjust {
            width: 100%;
            gap: 0;

            .img-container {
                padding-left: 0 !important;
                flex: 1 1 65%;

                h1 {
                    margin-left: -35px;
                }

                > div img {
                    left: 70px;
                }
            }

            .text-container {
                flex: 1 1 35%;

                p {
                    font-size: 18px;
                }
            }
        }
    }

    /*  */
</style>
    <link rel="preload" href="/assets/doctor2.webp" as="image" slot="head" />
    <link rel="stylesheet" slot="header" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <section class="jci-article">
        <div class="flex-adjust">
            <div class="img-container">
                <div>
                    <h1>
                        Consultoría Salqualis: Expertos en Asesoría para la
                        Acreditación JCI
                    </h1>
                    <img
                        src="/assets/doctor2.webp"
                        alt=""
                        aria-hidden="true"
                        fetchpriority="high"
                    />
                </div>
            </div>
            <div class="text-container">
                <div>
                    <p>
                        Somos <strong
                            >especialistas en la implementación de estándares de
                            calidad <a
                                href="/JCIAccreditation"
                                aria-label="Leer más sobre la Joint Commission International"
                                >Joint Commission International</a
                            ></strong
                        > para organizaciones de salud que buscan la excelencia operativa
                        y la seguridad del paciente.
                        <br />
                        <br />
                        Además realizamos asesoría a centros sanitarios para el desarrollo
                        de estrategias trasformadoras, dirigidas a la mejora de la
                        calidad y seguridad centrada en el paciente.
                    </p>
                    <p>
                        Consultoría Salqualis cuenta con más de <strong
                            >25 años de experiencia</strong
                        > brindando soporte y consultoría a centros hospitalarios,
                        ambulatorios y de atención primaria para el desarrollo de
                        cambios estratégicos enfocados a mejora de la calidad y eficiencia.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="map-article" id="centros-acred">
        <h2>
            Centros de Excelencia acreditados que avalan nuestra trayectoria
        </h2>

        <div class="flex-adjust">
            <div>
                <p>
                    Nuestra mejor carta de presentación es la confianza de los
                    numerosos hospitales y organizaciones de salud que nos
                    eligen para acompañarles hasta el éxito de su acreditación
                    inicial y en sus sucesivos procesos de reacreditación. Esta
                    sólida experiencia, <strong
                        >avalada por la fidelidad de directivos y profesionales
                        de la salud</strong
                    >, constituye nuestro mejor salvoconducto y un testimonio
                    real del compromiso continuo que mantenemos con la
                    excelencia de cada organización.
                </p>
                <p>
                    Desde 1999, <strong>42 establecimientos</strong>
                    de salud Públicos y Privados <strong
                        >han obtenido su acreditación JCI bajo nuestra guía y
                        soporte experto</strong
                    >. La mayoría de estas organizaciones han seguido contando
                    con nuestro apoyo en las sucesivas reacreditaciones
                    trienales. Hemos trabajado con algunas de las instituciones
                    sanitarias más prestigiosas a nivel nacional e
                    internacional:
                </p>
            </div>
            <div class="counter-div">
                <span id="counter-num">42</span>
                <p>
                    <strong
                        >+ de 40 centros acreditados por JCI con el
                        acompañamiento de Consultoría Salqualis</strong
                    >
                </p>
            </div>
        </div>

        <div style="width:100%">
            {
                paisesAcred.map((pais) => (
                    <div class="accreditation-container">
                        <div class="country-group">
                            <label
                                for={pais.id}
                                class="country-label fade-in-bottom"
                            >
                                {pais.country}
                            </label>
                            <input
                                type="checkbox"
                                id={pais.id}
                                class="toggle-input"
                            />

                            <ul class={`center-list ${pais.id}`}>
                                {pais.centers.map((centro) => (
                                    <li style="white-space: pre-line;">{centro}</li>
                                ))}
                            </ul>
                        </div>
                    </div>
                ))
            }

            <div class="map-container fade-in-bottom">
                <div id="map"></div>
            </div>
        </div>
    </section>
    <section class="currently-section">
        <h2>¿En qué estamos trabajando actualmente?</h2>
        <p>
            14 centros están en proceso de consultoría para la acreditación
            J.C.I.
        </p>

        <div>
            <article class="fade-in">
                <div></div>
                <p>
                    3 hospitales en <strong>Chile</strong>
                </p>
            </article>
            <article class="fade-in">
                <div></div>
                <p>
                    2 centros ambulatorios en <strong>Chile</strong>
                </p>
            </article>
            <article class="fade-in">
                <div></div>
                <p>
                    1 centro de atención primaria en <strong>Chile</strong>
                </p>
            </article>

            <article class="fade-in">
                <div></div>
                <p>2 hospitales en <strong>Perú</strong></p>
            </article>

            <article class="fade-in">
                <div></div>
                <p>10 hospitales en <strong>España</strong></p>
            </article>
        </div>
    </section>
    <section class="accredit-article">
        <div class="flex-adjust">
            <div class="fade-in-left">
                <h2>Transformamos Centros Sanitarios hacia la Excelencia</h2>
                <p>
                    Con el respaldo de nuestra trayectoria internacional,
                    ayudamos a organizaciones de salud en varios países a
                    cumplir con los exigentes estándares del modelo JCI.
                </p>
                <p>
                    Las Organizaciones que ya han realizado este salto con éxito
                    destacan por la mejora en la eficiencia de los centros, el
                    aumento de la satisfacción de los clientes y en sus
                    resultados en salud. Ha supuesto un reto para todos las
                    profesionales implicados consiguiendo mejorar la atención a
                    sus pacientes.
                </p>

                <p>
                    Los estándares JCI tienen un enfoque muy asistencial lo que
                    supone una gran ventaja respecto a otros modelos para contar
                    con la motivación de los profesionales. Cada mejora
                    propuesta tiene repercusión directa en los pacientes , por
                    lo que es fácil de asumir y comprender.
                </p>
                <img src="/assets/img10.webp" alt="" aria-hidden="true" />
            </div>
            <div class="fade-in-right">
                <img
                    src="/assets/img-corridor.webp"
                    alt=""
                    aria-hidden="true"
                />

                <h2>¿Cuál es el papel de Salqualis?</h2>
                <p>
                    Ofrecemos la tutoría necesaria para avanzar de forma segura,
                    evitando errores y optimizando los recursos, y tomando
                    decisiones certeras.
                </p>
                <p>
                    Es un camino en el que podemos acompañar a los centros hacia
                    la mejora continua y el cambio cultural de la organización.
                    Este proceso puede incluir, si así lo decide la
                    organización, el reto de alcanzar la acreditación JCI.
                </p>

                <h2>
                    Por qué elegir a Salqualis para su Acreditación de Calidad
                </h2>
                <p>
                    Nuestra consultoría actúa como el guía estratégico que tu
                    organización necesita. Nuestro equipo de élite ofrece un
                    acompañamiento cercano y experto para asegurar que su
                    institución <strong>alcance el Sello de Oro</strong> de la calidad
                    sanitaria internacional. Te invitamos a conocer a <a
                        href="/team">nuestro equipo de profesionales.</a
                    >
                </p>
            </div>
        </div>
        <Button text="Solicita más información" href="/contact"/>
    </section>
</Layout>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="../scripts/map.js?v=1.0"></script>
<script>
    document.addEventListener("astro:page-load", () => {
        //Counter
        const elContador = document.getElementById("counter-num");
        const objetivo = 42;
        let actual = 0;
        let retrasoInicial = 350;
        let retraso = retrasoInicial;
        let animacionEnCurso = false;

        function actualizarContador() {
            actual++;
            if (elContador) {
                elContador.innerText = actual.toString();
            }

            if (actual < objetivo) {
                retraso = retraso * 0.92;

                setTimeout(actualizarContador, retraso);
            }
        }

        const observer = new IntersectionObserver(
            (entries) => {
                if (entries[0].isIntersecting) {
                    if (!animacionEnCurso) {
                        animacionEnCurso = true;
                        actual = 0;
                        retraso = retrasoInicial;
                        actualizarContador();
                    }
                }
            },
            { threshold: 1.0 },
        );

        if (elContador) {
            observer.observe(elContador);
        }

        //acordeon centros acreditados
        const ACCORDION_SPEED = 0.5

        document.querySelectorAll<HTMLInputElement>(".toggle-input").forEach((input) => {
            input.addEventListener("change", (e) => {
                const list = input.nextElementSibling as HTMLElement || null;
                const height = list.scrollHeight;
                const duration = Math.max(height / ACCORDION_SPEED, 150);

                list.style.transition = `max-height ${duration}ms ease-out`;

                if (input.checked) {
                    list.style.maxHeight = height + "px";
                } else {
                    list.style.maxHeight = "0";
                }
            });
        });
    });
</script>
<script src="../scripts/animations.js?v=1.0"></script>
