---
import Layout from "../layouts/Layout.astro";
import { paisesAcred } from "../data/accreditations.js";
import Button from "../components/Button.astro"
---

<Layout title="Inicio">
    <link rel="preload" href="/assets/doctor2.webp" as="image" slot="head" />
    <link rel="stylesheet" slot="header" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <section class="jci-article">
        <div class="flex-adjust">
            <div class="img-container">
                <div>
                    <h1>
                        Consultoría Salqualis: Expertos en Asesoría para la
                        Acreditación JCI
                    </h1>
                    <img
                        src="/assets/doctor2.webp"
                        alt=""
                        aria-hidden="true"
                        fetchpriority="high"
                    />
                </div>
            </div>
            <div class="text-container">
                <div>
                    <p>
                        Somos <strong
                            >especialistas en la implementación de estándares de
                            calidad <a
                                href="/JCIAccreditation"
                                aria-label="Leer más sobre la Joint Commission International"
                                >Joint Commission International</a
                            ></strong
                        > para organizaciones de salud que buscan la excelencia operativa
                        y la seguridad del paciente.
                        <br />
                        <br />
                        Además realizamos asesoría a centros sanitarios para el desarrollo
                        de estrategias trasformadoras, dirigidas a la mejora de la
                        calidad y seguridad centrada en el paciente.
                    </p>
                    <p>
                        Consultoría Salqualis cuenta con más de <strong
                            >25 años de experiencia</strong
                        > brindando soporte y consultoría a centros hospitalarios,
                        ambulatorios y de atención primaria para el desarrollo de
                        cambios estratégicos enfocados a mejora de la calidad y eficiencia.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="map-article" id="centros-acred">
        <h2>
            Centros de Excelencia acreditados que avalan nuestra trayectoria
        </h2>

        <div class="flex-adjust">
            <div>
                <p>
                    Nuestra mejor carta de presentación es la confianza de los
                    numerosos hospitales y organizaciones de salud que nos
                    eligen para acompañarles hasta el éxito de su acreditación
                    inicial y en sus sucesivos procesos de reacreditación. Esta
                    sólida experiencia, <strong
                        >avalada por la fidelidad de directivos y profesionales
                        de la salud</strong
                    >, constituye nuestro mejor salvoconducto y un testimonio
                    real del compromiso continuo que mantenemos con la
                    excelencia de cada organización.
                </p>
                <p>
                    Desde 1999, <strong>42 establecimientos</strong>
                    de salud Públicos y Privados <strong
                        >han obtenido su acreditación JCI bajo nuestra guía y
                        soporte experto</strong
                    >. La mayoría de estas organizaciones han seguido contando
                    con nuestro apoyo en las sucesivas reacreditaciones
                    trienales. Hemos trabajado con algunas de las instituciones
                    sanitarias más prestigiosas a nivel nacional e
                    internacional:
                </p>
            </div>
            <div class="counter-div">
                <span id="counter-num">42</span>
                <p>
                    <strong
                        >+ de 40 centros acreditados por JCI con el
                        acompañamiento de Consultoría Salqualis</strong
                    >
                </p>
            </div>
        </div>

        <div style="width:100%">
            {
                paisesAcred.map((pais) => (
                    <div class="accreditation-container">
                        <div class="country-group">
                            <label
                                for={pais.id}
                                class="country-label fade-in-bottom"
                            >
                                {pais.country}
                            </label>
                            <input
                                type="checkbox"
                                id={pais.id}
                                class="toggle-input"
                            />

                            <ul class={`center-list ${pais.id}`}>
                                {pais.centers.map((centro) => (
                                    <li style="white-space: pre-line;">{centro}</li>
                                ))}
                            </ul>
                        </div>
                    </div>
                ))
            }

            <div class="map-container fade-in-bottom">
                <div id="map"></div>
            </div>
        </div>
    </section>
    <section class="currently-section">
        <h2>¿En qué estamos trabajando actualmente?</h2>
        <p>
            14 centros están en proceso de consultoría para la acreditación
            J.C.I.
        </p>

        <div>
            <article class="fade-in">
                <div></div>
                <p>
                    3 hospitales en <strong>Chile</strong>
                </p>
            </article>
            <article class="fade-in">
                <div></div>
                <p>
                    2 centros ambulatorios en <strong>Chile</strong>
                </p>
            </article>
            <article class="fade-in">
                <div></div>
                <p>
                    1 centro de atención primaria en <strong>Chile</strong>
                </p>
            </article>

            <article class="fade-in">
                <div></div>
                <p>2 hospitales en <strong>Perú</strong></p>
            </article>

            <article class="fade-in">
                <div></div>
                <p>10 hospitales en <strong>España</strong></p>
            </article>
        </div>
    </section>
    <section class="accredit-article">
        <div class="flex-adjust">
            <div class="fade-in-left">
                <h2>Transformamos Centros Sanitarios hacia la Excelencia</h2>
                <p>
                    Con el respaldo de nuestra trayectoria internacional,
                    ayudamos a organizaciones de salud en varios países a
                    cumplir con los exigentes estándares del modelo JCI.
                </p>
                <p>
                    Las Organizaciones que ya han realizado este salto con éxito
                    destacan por la mejora en la eficiencia de los centros, el
                    aumento de la satisfacción de los clientes y en sus
                    resultados en salud. Ha supuesto un reto para todos las
                    profesionales implicados consiguiendo mejorar la atención a
                    sus pacientes.
                </p>

                <p>
                    Los estándares JCI tienen un enfoque muy asistencial lo que
                    supone una gran ventaja respecto a otros modelos para contar
                    con la motivación de los profesionales. Cada mejora
                    propuesta tiene repercusión directa en los pacientes , por
                    lo que es fácil de asumir y comprender.
                </p>
                <img src="/assets/img10.webp" alt="" aria-hidden="true" />
            </div>
            <div class="fade-in-right">
                <img
                    src="/assets/img-corridor.webp"
                    alt=""
                    aria-hidden="true"
                />

                <h2>¿Cuál es el papel de Salqualis?</h2>
                <p>
                    Ofrecemos la tutoría necesaria para avanzar de forma segura,
                    evitando errores y optimizando los recursos, y tomando
                    decisiones certeras.
                </p>
                <p>
                    Es un camino en el que podemos acompañar a los centros hacia
                    la mejora continua y el cambio cultural de la organización.
                    Este proceso puede incluir, si así lo decide la
                    organización, el reto de alcanzar la acreditación JCI.
                </p>

                <h2>
                    Por qué elegir a Salqualis para su Acreditación de Calidad
                </h2>
                <p>
                    Nuestra consultoría actúa como el guía estratégico que tu
                    organización necesita. Nuestro equipo de élite ofrece un
                    acompañamiento cercano y experto para asegurar que su
                    institución <strong>alcance el Sello de Oro</strong> de la calidad
                    sanitaria internacional. Te invitamos a conocer a <a
                        href="/team">nuestro equipo de profesionales.</a
                    >
                </p>
            </div>
        </div>
        <Button text="Solicita más información" href="/contact"/>
    </section>
</Layout>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="../scripts/map.js?v=1.0"></script>
<script>
    document.addEventListener("astro:page-load", () => {
        //Counter
        const elContador = document.getElementById("counter-num");
        const objetivo = 42;
        let actual = 0;
        let retrasoInicial = 350;
        let retraso = retrasoInicial;
        let animacionEnCurso = false;

        function actualizarContador() {
            actual++;
            if (elContador) {
                elContador.innerText = actual.toString();
            }

            if (actual < objetivo) {
                retraso = retraso * 0.92;

                setTimeout(actualizarContador, retraso);
            }
        }

        const observer = new IntersectionObserver(
            (entries) => {
                if (entries[0].isIntersecting) {
                    if (!animacionEnCurso) {
                        animacionEnCurso = true;
                        actual = 0;
                        retraso = retrasoInicial;
                        actualizarContador();
                    }
                }
            },
            { threshold: 1.0 },
        );

        if (elContador) {
            observer.observe(elContador);
        }
    });
</script>
<script src="../scripts/animations.js?v=1.0"></script>
