---
import Layout from "../layouts/Layout.astro";
import { team } from "../data/team.js"
---

<Layout>
    <link rel="preload" href="/assets/team/JGarcia.webp" as="image" slot="header" fetchpriority="high"/>

    <section aria-labelledby="titulo-equipo" class="team-section">
        <div>
            <h1 id="titulo-equipo">
                Liderazgo y Experiencia en Gestión Sanitaria
            </h1>
            <div class="team-grid" role="list">
                {
                    team.map((member, key) => (
                        <article class={`flip-card ${member == team[0] ? 'accent' : `img-${key+1}`}`}>
                            <div class="flip-card-inner">
                                <div class="flip-card-front" role="listitem">
                                    <div class="img-container">
                                        <img src={member.image} alt={member.name} fetchpriority="high" />
                                    </div>
                                    <div class="text-container">
                                        <h2>
                                            <img src={member.icon} alt="" fetchpriority="high" />{member.name}
                                        </h2>
                                        <p>
                                            <strong>{member.role}</strong>
                                        </p>
                                        <p>
                                            {member.description}
                                        </p>
                                    </div>
                                </div>
                                <div class="flip-card-back" role="listitem">
                                    <p>TITULACIÓN DESTACADA</p>
                                    <ul>
                                    {member.cvdestacado.map((item) => (
                                        <li>{item}</li>
                                    )
                                        
                                    )}
                                    </ul>
                                    <p>CONSULTORÍA SALQUALIS</p>
                                    <ul>{member.cvconsultoria.map((item) => (
                                        <li>{item}</li>
                                    )
                                        
                                    )}</ul>
                                    <p>EXPERIENCIA PROFESIONAL</p>
                                    <ul>{member.cvtrayectoria.map((item) => (
                                        <li>{item}</li>
                                    )
                                        
                                    )}</ul>
                                </div>
                            </div>
                        </article>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>

<script>
    //Giro flip-cards
    document.addEventListener("click", (e) => {
        const target = e.target as HTMLElement;
        if (target.closest(".flip-card-front")) {
            target.closest(".flip-card-inner")?.classList.add("rotated");
        } else if (target.closest(".flip-card-back")) {
            target.closest(".flip-card-inner")?.classList.remove("rotated");
        }
    });
</script>
